REACT_APP_FIREBASE_API_KEY=AIzaSyARJWkZwfgT-7aE8vZqCYed4utut2pcKcM
REACT_APP_FIREBASE_AUTH_DOMAIN=spicera-c0258.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=spicera-c0258
REACT_APP_FIREBASE_STORAGE_BUCKET=spicera-c0258.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=862806686
REACT_APP_FIREBASE_APP_ID=1:862806686:web:e6b1ae2be974632749d18f
REACT_APP_FIREBASE_MEASUREMENT_ID=G-PSWBYQD06F
